@import "../../variables";

header {
    height: auto;
    width: 100%;
    background-image: url(../../assets/bg_menu.png);
    background-color: #fff;
    background-size: inherit;
    position: sticky;
    top: 0;
    max-width: 700px;
    @include flex(space-between, stretch, column);
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    z-index: 1000;

    @media screen and (max-width: 600px) {
        width: 100vw;
        max-width: 600px;
        min-width: 100px;
    }

    .first-container {
        padding: 20px 20px 10px;
        @include flex(space-between, center);

        #logo {
            width: auto;
            height: auto;
            max-width: 110px;
            max-height: 80px;
        }
        .toogle-language {
            width: auto;
            height: 36px;
            border: 2px solid #000;
            @include flex(space-between, center);
            border-radius: 4px;
            background-color: #c1c1c1;
            -webkit-transition: 0.1s ease-in-out;
            -o-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;

            .each-option {
                padding: 0 10px;
                height: 100%;
                font-size: 16px;
                height: 36px;
                white-space: nowrap;
                color: #000000;
                -webkit-transition: 0.1s ease-in-out;
                -o-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;

                &:first-of-type {
                    margin-left: -1px;
                }
                &:last-of-type {
                    margin-right: -1px;
                }
            }
        }
        .language-selected {
            background-color: #222222;
            color: #fff !important;
            border-radius: 4px;
        }
    }
    h1 {
        @include font($primary-font, $semibold, 32px, $black);
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .each-option {
        width: 50%;
        height: 100%;
        @include font($primary-font, $semibold, 18px, #4a4a4a);
        @include flex(center, center);
        text-transform: uppercase;
        height: 46px;
        cursor: pointer;
        border: 2px solid transparent;
        -webkit-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        &:first-child {
            border-left: 0;
        }
        &:last-child {
            border-right: 0;
        }
    }
    .toogle-category {
        width: 100%;
        height: 46px;
        border-top: 2px solid $grey;
        border-bottom: 2px solid $grey;
        @include flex(space-between, center);

        .bebida-selected {
            color: $grey;
            background: rgba(255, 255, 255, 0.53);
            border-radius: 12px 0px 0px 12px;
            border: 2px solid $grey;
            border-right: 0;
        }
        .comida-selected {
            color: $grey;
            background: rgba(255, 255, 255, 0.53);
            border-radius: 0 12px 12px 0;
            border: 2px solid $grey;
            border-left: 0;
        }
    }
    .margin {
        margin-top: -2px;
    }

    .select-category {
        width: auto;
        height: 46px;
        border: 2px solid $grey;
        margin: 0 16px;
        border-radius: 10px;
        padding: 0 14px;
        @include font($primary-font, $semibold, 18px, $black);
        background: rgba(255, 255, 255, 0.2);
        outline: none;
    }
}
