<!-- NEW HEADER -->

<header>
    <a class="logo" routerLink="/">Angotur</a>
    <div class="nav">
        <a class="menu-item" href="#" title="Restaurantes" *ngIf="RestaurantService.isDefaultLanguage">Restaurantes</a>
        <a *ngIf="!RestaurantService.isDefaultLanguage" class="menu-item" href="#" title="Restaurantes">Restaurants</a>
        <div class="menu-item toogle-language">
            <div class="each-option" [class.language-selected]="RestaurantService.isDefaultLanguage"
                (click)="selectLanguage('pt')">🇵🇹 PT</div>
            <div class="each-option" [class.language-selected]="!RestaurantService.isDefaultLanguage"
                (click)="selectLanguage('en')">🇬🇧 EN</div>
        </div>
    </div>
</header>