@import "../../variables";

/* NEW HEADER */

header {
    height: 70px;
    background-color: #131313;
    width: 100%;
    @include flex(space-between, center);
    padding: 0 10%;
    position: sticky;
    z-index: 10;
    top: -1px;

    @media screen and (max-width: 550px) {
        padding: 0 5%;
    }

    .logo {
        @include font($primary-font, $bold, 30px, $light-orange);
        text-transform: uppercase;
        letter-spacing: 1px;

        @media screen and (max-width: 550px) {
            font-size: 16px;
        }
    }

    .nav {
        @include flex(flex-end, center);
        gap: 40px;

        @media screen and (max-width: 550px) {
            gap: 10px;
        }

        .menu-item {
            @include font($primary-font, $regular, 16px, #ffffff);

            @media screen and (max-width: 550px) {
                font-size: 14px;
            }

            @media (hover: hover) {
                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .toogle-language {
        width: auto;
        height: 30px;
        @include flex(space-between, center);
        border-radius: 6px;
        background-color: #3d3d3d;
        -webkit-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        cursor: pointer;

        .each-option {
            padding: 0 10px;
            height: 100%;
            font-size: 16px;
            height: 30px;
            white-space: nowrap;
            color: #fff;
            -webkit-transition: 0.1s ease-in-out;
            -o-transition: 0.1s ease-in-out;
            transition: 0.1s ease-in-out;
            line-height: 30px;

            &:first-of-type {
                margin-left: -1px;
            }
            &:last-of-type {
                margin-right: -1px;
            }
        }
    }
    .language-selected {
        background-color: #f2f2f2;
        color: #222222 !important;
        border-radius: 4px;
    }
}
