<!-- OLD HEADER -->

<!-- <header>
    <div class="first-container">
        <img *ngIf="lume" id="logo" src="../assets/logo-lume.png" alt="Logotipo">
        <img *ngIf="!lume" id="logo" src="../assets/logo-altose.png" alt="Logotipo">
        <h1>MENU</h1>
        <div class="toogle-language">
            <div class="each-option" [class.language-selected]="pt" (click)="selectLanguage()">🇵🇹 PT</div>
            <div class="each-option" [class.language-selected]="!pt" (click)="selectLanguage()">🇬🇧 EN</div>
        </div>
    </div>
</header> -->

<!-- NEW HEADER -->

<header>
    <a class="logo" routerLink="/">Angotur</a>
    <div class="nav">
        <a class="menu-item" href="#" title="Restaurantes">Restaurantes</a>
        <div class="menu-item toogle-language">
            <div class="each-option" [class.language-selected]="pt" (click)="selectLanguage()">🇵🇹 PT</div>
            <div class="each-option" [class.language-selected]="!pt" (click)="selectLanguage()">🇬🇧 EN</div>
        </div>
    </div>
</header>