@import "../../variables";

#gov-bar-section {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    @include flexcenter();

    img {
        max-height: 34px;
        width: auto;
        max-width: 100%;
    }
}
