<div class="wrapper-carousel">

    <ngb-carousel *ngIf="lume">
        <ng-template ngbSlide *ngFor="let image of imagesLume">
            <img class="img-carousel" [src]="image.src" alt="Random first slide">
            <div class="carousel-caption" *ngIf="image.description">
                <p>{{ image.description }}</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <ngb-carousel *ngIf="!lume">
        <ng-template ngbSlide *ngFor="let image of imagesAltose">
            <img class="img-carousel" [src]="image.src" alt="Random first slide">
            <div class="carousel-caption" *ngIf="image.description">
                <p>{{ image.description }}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>