<section id="welcome">

    <a class="each-container altose" href="altose">
        <div class="logo-wrapper">
            <img src="../../assets/logo-altose.png">
        </div>
    </a>
    <hr class="middle-line">
    <a class="each-container lume" href="lume">
        <div class="logo-wrapper lume">
            <img src="../../assets/logo-lume.png">
        </div>
    </a>

    <!-- OLD WELCOME PAGE -->
    <!-- <div class="header">
        <h2>🇵🇹 Bem Vindo!</h2>
        <h3>🇬🇧 Welcome!</h3>
    </div>

    <div class="content">
        <h4>Escolha o restaurante:</h4>
        <h5>Choose the restaurant:</h5>

        <a class="btn-restaurant" href="lume">
            <img class="logo-lume" src="../../assets/logo-lume.png">
            <p class="btn-text">Menu Lume</p>
        </a>
        <a class="btn-restaurant" href="altose">
            <img src="../../assets/logo-altose.png">
            <p class="btn-text">Menu Alto Sé Café</p>
        </a>
    </div> -->


</section>

<section id="gov">
    <a href="../../assets/projeto.pdf" target="_blank" alt="Descrição de Projeto">
        <img src="../../assets/footer-logos.png">
    </a>
</section>