<div class="wrapper" [style.background-image]="backgroundImageUrl">

    <div id="menu-section">
        <div class="menu-header">
            <div class="first-container">
                <img *ngIf="lume" class="logo" src="../assets/logo-lume.png" alt="Logotipo">
                <img *ngIf="!lume" class="logo" src="../assets/logo-altose.png" alt="Logotipo">
                <h1>MENU</h1>
                <img *ngIf="lume" class="logo logo-hidden" src="../assets/logo-lume.png" alt="Logotipo">
                <img *ngIf="!lume" class="logo logo-hidden" src="../assets/logo-altose.png" alt="Logotipo">
            </div>
            <div class="tabs-menu">
                <a class="chip" *ngFor="let category of categories" pageScroll href="#Cachorros">
                    {{ category.title }}</a>

            </div>
        </div>

        <!--   href="{{'#' + category.title}}" -->


        <div class="menu-list">

            <section class="each-category" *ngFor="let category of categories" [id]="category.title">
                <!-- Title Category -->
                <div class="title-category">
                    <!-- <hr> -->
                    <h2>{{ category.title }}</h2>
                    <!-- <hr> -->
                    <!--  <p class="category-description" *ngIf="category.description">{{ category.description }}</p> -->
                </div>
                <div class="products-list">
                    <div class="each-product" *ngFor="let product of category.products">
                        <div class="product-image">
                            <img [src]="product.imageUrl">
                        </div>
                        <div class="title-and-description">
                            <h3 class="product-title">{{ product.title }}</h3>
                            <p class="description" *ngIf="product.description">{{product.description}}</p>
                        </div>
                        <div class="price">{{ product.price.toFixed(2) }}€</div>
                    </div>
                </div>
            </section>
        </div>
        <app-gov-bar></app-gov-bar>
    </div>


</div>