<div class="wrapper" [style.background-image]="backgroundfilename">

    <div id="menu-section">
        <div class="menu-header">
            <div class="first-container">
                <img *ngIf="lume" class="logo" src="../assets/logo-lume.png" alt="Logotipo">
                <img *ngIf="!lume" class="logo" src="../assets/logo-altose.png" alt="Logotipo">
                <h1>MENU</h1>
                <img *ngIf="lume" class="logo logo-hidden" src="../assets/logo-lume.png" alt="Logotipo">
                <img *ngIf="!lume" class="logo logo-hidden" src="../assets/logo-altose.png" alt="Logotipo">
            </div>
            <div class="tabs-menu">
                <a class="chip" *ngFor="let category of categories">
                    {{ category.title }}</a>
                <!-- <button class="chip" (click)="goDown()">section trial</button> -->
            </div>
        </div>

        <!-- TODO: fix the anchor sections links -->
        <!--   href="{{'#' + category.title}}" -->


        <div class="menu-list">

            <section class="pratododia each-category">
                <div class="title-category">
                    <h2 *ngIf="RestaurantService.isDefaultLanguage">Prato do dia ( {{ getTodaysDate() }} )</h2>
                    <h2 *ngIf="!RestaurantService.isDefaultLanguage">Dish of the Day ( {{ getTodaysDate() }} )</h2>
                </div>
                <div class="products-list">
                    <div class="each-product">
                        <div class="product-image">
                            <img *ngIf="dailymeal.filename" [src]="dailymeal.filename">
                            <img *ngIf="!dailymeal.filename" src="../../assets/default.jpg">
                        </div>
                        <div class="title-and-description">
                            <h3 class="product-title">{{ dailymeal.title }}</h3>
                            <p class="description">{{ dailymeal.description }}</p>
                        </div>
                        <div class="price">{{ dailymeal.price }}€</div>
                    </div>
                </div>
            </section>

            <section class="each-category" *ngFor="let category of categories">
                <!-- Title Category -->
                <div class="title-category">
                    <!-- <hr> -->
                    <h2>{{ category.title }}</h2>
                    <!-- <hr> -->
                    <!--  <p class="category-description" *ngIf="category.description">{{ category.description }}</p> -->
                </div>
                <div class="products-list">
                    <div class="each-product" *ngFor="let product of category.products">
                        <div class="product-image">
                            <img *ngIf="product.filename"
                                [src]="'https://angoturfood.com/rest/api/Binary/' + product.filename">
                            <img *ngIf="!product.filename" src="../../assets/default.jpg">
                        </div>
                        <div class="title-and-description">
                            <h3 class="product-title">{{ product.title }}</h3>
                            <p class="description" *ngIf="product.description">{{product.description}}</p>
                        </div>
                        <div class="price" *ngIf="product.price">{{ product.price.toFixed(2) }}€</div>
                    </div>
                </div>
            </section>


            <!--             <section id="sectiontrial">
                <h2>Section trial here</h2>
            </section> -->
        </div>
        <app-gov-bar></app-gov-bar>
    </div>


</div>