@import "../../variables";

p {
    margin: 0;
}

#section-restaurants {
    background-color: #fff;
    padding: 5% 10%;

    @media screen and (max-width: 1500px) {
        padding: 5% 4%;
    }
    @media screen and (max-width: 900px) {
        padding: 8% 10%;
    }

    .restaurant-wrapper {
        margin: auto;
        @include flex(flex-start, stretch, column);
        gap: 60px;
        max-width: 1200px;

        @media screen and (max-width: 1300px) {
            gap: 40px;
        }
    }

    h2 {
        @include font($primary-font, $bold, 48px, #000);

        @media screen and (max-width: 900px) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .each-restaurant {
        width: 100%;
        @include flex(center, flex-start);
        gap: 4%;
        margin-bottom: 60px;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: 18px;
        }

        .img-holder {
            max-width: 50%;
            max-height: 600px;
            overflow: hidden;
            aspect-ratio: 1/1;

            @media screen and (max-width: 900px) {
                max-width: none;
                width: 100%;
                max-height: 340px;
            }

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .restaurant-info {
            @include flex(flex-start, flex-start, column);
            gap: 10px;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            .logo-restaurant {
                max-height: 90px;
                max-width: 170px;
                width: auto;

                @media screen and (max-width: 900px) {
                    align-self: center;
                    margin-bottom: 10px;
                }
            }

            h3 {
                @include font($primary-font, $bold, 26px, #000);
            }

            .each-item {
                @include flex(flex-start, center);
                gap: 10px;

                svg {
                    height: 20px;
                    width: auto;
                }

                .item-link {
                    @include font($primary-font, $medium, 16px, #000);
                }
                @media (hover: hover) {
                    &:hover {
                        .item-link {
                            color: $orange;
                        }

                        svg path {
                            fill: $orange;
                        }
                    }
                }

                .item {
                    @include font($primary-font, $medium, 16px, #000);
                }
            }

            .each-item.nolink {
                @media (hover: hover) {
                    &:hover {
                        .item-link {
                            color: #000;
                            cursor: default;
                        }

                        svg path {
                            fill: #000;
                        }
                    }
                }
            }

            .sub-item {
                @include flex(flex-start, flex-start, column);
                line-height: 25px;
                margin-left: 34px;
                p {
                    @include font($primary-font, $regular, 14px, #000);
                    margin: 0;

                    span {
                        font-weight: $semibold;
                    }
                }
            }

            .social-links {
                @include flex(flex-start, center);
                gap: 10px;
                flex-wrap: wrap;

                .btn-social {
                    padding: 8px;
                    background-color: #e8e8e8;
                    height: 36px;
                    @include flexcenter();
                    gap: 6px;
                    border-radius: 4px;
                    white-space: nowrap;
                    @include font($primary-font, $medium, 16px, #000);

                    svg {
                        height: 18px;
                        width: auto;
                    }

                    @media (hover: hover) {
                        &:hover {
                            color: #fff;
                            background-color: $orange;

                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .btn-menu {
                width: 100%;
                border-radius: 4px;
                background-color: $orange;
                @include flexcenter();
                gap: 8px;
                @include font($primary-font, $medium, 16px, #fff);
                text-transform: uppercase;
                height: 48px;
                white-space: nowrap;

                svg {
                    height: 20px;
                }

                @media (hover: hover) {
                    &:hover {
                        background-color: $light-orange;
                        color: #000;
                        svg {
                            path {
                                fill: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}
